<HTML dir=rtl lang="he" ng-app="movieLibApp">
<Head>
	<Title>סרטים</Title>
	<meta charset="utf-8"/>
	<link rel="icon" href="favicon.png">

	<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="movieLib.css">

	<script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.4.js" type="text/javascript"></script>
	<script id="angularScript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script id="angularScript" src="movies.js"></script>
	<script id="angularScript" src="stats.js"></script>
	
<Script type="text/javascript">

/*
 * movies.js example (path begins at parent directory of this html file directory):
 *	var movies = [
 *		{'name' : 'Chicken Run', 	'video': 'Wallace and Gromit\\Chicken.Run.2000DvDRipEng.avi'},
 *		{'name': 'Alfred Jodocus Kwak', type: 'series', 'episodes': [
 *			{'name': 'Episode 1', 'video': 'Alfred Jodocus Kwak\\kwakep01.mp4'},
 *		 	{'name': 'Episode 2', 'video': 'Alfred Jodocus Kwak\\kwakep02.mp4'},
 *		]},
 		{'name': 'Neutral Response', 'type': 'youtube', 'id': 'ussCHoQttyQ'},
 *	];
 */

var movieLibApp = angular.module('movieLibApp', []);


movieLibApp.controller('movieLibCtrl', function($scope, $sce) {

	$scope.data = {
		filterText: '',
		moviesJson: 'init'
	};
	
	$scope.scrumbleList = function(list) {
		for (var i=0; i< list.length; i++) {
			var rand1 = Math.floor(Math.random() * list.length);
			var rand2 = Math.floor(Math.random() * list.length);
			var temp = list[rand1];
			list[rand1] = list[rand2];
			list[rand2] = temp;
		}
	};
	
	$scope.allMovies = movies;	// from movies.js
	$scope.stats = stats;		// from stats.js
	$scope.movies = $scope.allMovies;
	$scope.scrumbleList($scope.movies);
	
	$scope.copyText = function(text) {
		console.log('copyText:', text);
		$("#selectedMovie").val(text);
		$("#selectedMovie").select();
		document.execCommand('copy');
	};

	$scope.increaseStatsLocally = function(movieName) {
		// increase counter locally (the listener will update the stats file)
		if ($scope.stats[movieName]) {
			$scope.stats[movieName]++;
		} else {
			$scope.stats[movieName] = 1;
		}
	};

	$scope.selectMovie = function(movie) {
		console.log('selectMovie:', movie);
		
		if (movie.type == 'series') {
			$scope.selectSeries(movie);
			return;
		}

		if (movie.type == 'youtube') {
			$scope.youtubeId = movie.id;
			$scope.youtubeTitle = movie.name;
			$scope.youtubeUrl = $sce.trustAsResourceUrl('https://www.youtube.com/embed/' + movie.id);
			$scope.copyText('MovieLib:stat:' + movie.id);
			$scope.increaseStatsLocally(movie.id);
			return;
		}
		
		// copy video file name to clipboard (will be run by the listener script)
		$scope.copyText('MovieLib:play:' + movie.video);
		
		// increase counter locally (the listener will update the stats file)
		$scope.increaseStatsLocally(movie.video);
	};
	
	$scope.selectSeries = function(series) {
		if (series.shuffle) {
			$scope.scrumbleList(series.episodes);
		}
		$scope.activeSeries = series;
		$scope.movies = series.episodes;
		$scope.data.filterText = '';
		delete $scope.data.filterType;
		//console.log('selectSeries: movies:', $scope.movies);
	};
	
	$scope.showAllMovies = function() {
		$scope.movies = $scope.allMovies;
		$scope.activeSeries = null;
	};

	$scope.toggleTVFilter = function() {
		if ($scope.data.filterType) {
			delete $scope.data.filterType;
		} else {
			$scope.data.filterType = 'series';
		}
	};
	
	// helper to import files from dir export in powershell
	$scope.import = function() {
		var lines = $scope.importText.split('\n');
		var newText = '';
		for (var i=0; i<lines.length; i++) {
			var line = lines[i];
			var video = line.substring(48).trim();
			var name = video.replace('.mp4', '').substring(16);
			line = "			{'name': '" + name + "', 'video': 'שאלתיאל קוואק\\" + video + "'},";
			newText += line + '\n';
		}
		$scope.importText = newText;
	};
	
	$('#newFielsInput').bind("change", function ($event) {
		//console.log($event, $event.target.files);
		var newMovies = [];
		angular.forEach($event.target.files, function(file) {
			var subdir = ($scope.subdir ? $scope.subdir + '\\' : '');
			var title = file.name.replace($scope.subdir + ' - ', '').replace($scope.subdir, '');
			var newMovie = {
				name: file.name.substring(0, file.name.length-4),
				video: subdir + file.name
			};
			newMovies.push(newMovie);
		});
		$scope.importText = JSON.stringify(newMovies);
		$scope.$apply();
	});
});


</Script>

</Head>

<Body ng-controller="movieLibCtrl">


<form>
	<!-- filter -->
	<div class="form-group align-items-center container">
		<!-- filter input -->
		<div class="row form-row" style="margin-right: 300px;">
			<div class="col-auto" dir="ltl">
				<div class="input-group mb-2">
					<input type="text" ng-model="data.filterText" class="form-control form-control-lg" placeholder="חיפוש">
					<div class="input-group-prepend"  ng-click="data.filterText = ''">
						<div class="input-group-text clear">X</div>
					</div>
				</div>
			</div>
		</div>
		<!-- letters buttons -->
		<div class="row" dir="rtl">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary btn-lg" 
						ng-repeat="ch in 'אבגדהוזחטיכלמנסעפצקרשת'"
						ng-click="data.filterText = data.filterText + ch" ng-bind="ch"></button>
			</div>
		</div>
	</div>
</form>

<!-- TV filter -->
<div class="tvFilter" ng-class="{tvFilterActive: data.filterType}" ng-hide="activeSeries">
	<button ng-click="toggleTVFilter()" style="background-color: #92BEE2"><img src="tv.png" width="80" height="80"></button>
</div>

<!-- series title -->
<div class="container" style="text-align: right" ng-show="activeSeries && !youtubeId">
	<h1>
		{{activeSeries.name}}
		<small class="text-muted back-link" style="margin-right: 50px;" ng-click="showAllMovies()">🡆חזור</small>
	</h1>
</div>

<!-- thumbnails -->
<div class="thumbnailsContainer" ng-hide="youtubeId">
	<div class="row">
		<div class="thumbnail-cell" 
				ng-repeat="movie in movies | filter:data.filterText | filter:{type: data.filterType}" 
				ng-click="selectMovie(movie)">

			<!-- movie thumbnail -->
			<div class="thumbnail-image-container" ng-if="movie.type != 'youtube'">
				<img src="images/{{movie.image || activeSeries.name || movie.name}}.jpg" class="img-thumbnail" width="200" height="300" style="height:300px !important">
				<span class="badge badge-light" ng-bind="stats[movie.video]"></span>
			</div>

			<!-- youtube thumbnail -->
			<div class="youtube-thumbnail-container" ng-if="movie.type == 'youtube'">
				<img src="https://img.youtube.com/vi/{{movie.id}}/mqdefault.jpg" width="200" height="133">
				<span class="badge badge-light" ng-bind="stats[movie.id]"></span>
			</div>

			<div class="label">
				{{movie.name}} {{movie.type=='series' ? '('+movie.episodes.length+')' : ''}}
			</div>
		</div>
	</div>
</div>

<!-- youtube player -->
<div style="text-align: center;" ng-show="youtubeId">
	<h1>
		{{youtubeTitle}}
		<small class="text-muted back-link" style="margin-right: 50px;" ng-click="youtubeId = null">🡆חזור</small>
	</h1>
	<iframe width="1024" height="768" ng-src="{{youtubeUrl}}"
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<!-- import form -->
<div ng-hide="true">
	<input type="text" ng-model="subdir"/>
	<input type="file" id="newFielsInput" multiple="true"/><br/>
	<textarea ng-model="importText" rows="20" cols="90"></textarea>
</div>

<!-- hidden input for copying text -->
<input id="selectedMovie" type="text" style="position: absolute; left: -1000;">


</Body></HTML>